<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="nlog-internal.log">

  <targets>    
    <target xsi:type="ColoredConsole" 
            name="console"
            layout="${shortdate}|${level:uppercase=true}|${logger}|${message}"
            useDefaultRowHighlightingRules="true"
            enableAnsiOutput="false" />
    <target name="file" xsi:type="File"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="output.txt"
            keepFileOpen="true"
            encoding="utf-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="Program" level="Info" writeTo="file" />
  </rules>
  
</nlog>
